.nav-pills {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.posts {
  display: flex;
  gap: 60px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
